{% extends 'base.html.twig' %}

{% block title %} Page introuvable - KB Comics{% endblock %}

{% block content %}
<div class="block-small">
   <h2>Introuvable</h2>
   <p>Désolé, cette page n'est pas accessible pour le moment</p>
   <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'acceuil</a>
</div>
{% endblock %}
